@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
h2, h1, h3, [class*="css"] {
    font-family: 'Libre Baskerville', serif;
    /* font-size: 18px; */
    /* font-weight: 500; */
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    /* font-weight: 400; */
}